# OS metadata
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Go
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# Node/Frontend
node_modules/
frontend/dist/
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.stylelintcache

# Wails
build/bin/
build/windows/
build/darwin/
build/linux/

# Project specific
build/
frontend/dist/
